section#projects(layout="column")
  md-subheader.projects-introduction-header
    span.md-display-1 Projects
  .projects-list(layout="column" layout-padding="")
    
    md-card(layout="column")
      .tags-filter.md-padding.autocomplete(layout="column")
        md-chips(
          ng-model="project.selectedTags"
          md-autocomplete-snap="width"
          md-transform-chip="project.transformChip($chip)"
          md-require-match="true"
          filter-selected="true"
          placeholder="Filter by tags"
          secondary-placeholder="Search a tag"
        )
          md-autocomplete(
            md-menu-class="tag-autocomplete"
            md-search-text="project.searchText"
            md-items="tag in project.querySearch()"
            md-item-text="tag.title"
            placeholder="Filter by tags"
            secondary-placeholder="Search a tag"
          )
            .tag-chip(layout="row" layout-align="start center")
              img.tag(ng-src="{{tag.img}}")
              span.tag(
                md-highlight-text="project.searchText"
                md-highlight-flags="i"
              ) {{tag.title}}
                
          md-chip-template
            .tag-chip(layout="row" layout-align="start center")
              img.tag(ng-src="{{$chip.img}}")
              span.tag {{$chip.title}}
        
        .tags-check
          md-checkbox(
            ng-model='project.tagsVisible'
          ) Show Tags
        
        md-list(ng-if="project.tagsVisible")
          .tags-filtered
            md-list-item.tag-item(
              layout-align="start center"
              ng-repeat="tag in project.tags"
              ng-class="{true: 'selected', false: null}[project.isTagSelected(tag)]"
            )
              .tag-chip(layout="row" layout-align="start center")
                img.tag(ng-src="{{tag.img}}")
                span.tag {{tag.title}}
    
    md-card(layout="column" ng-repeat="proj in project.getProjects()")
      .project-content(layout="column")
        .project-title(layout="row")
          span.md-headline.project-title {{proj.title}}
          .project-links(layout="row" layout-align="start center")
            a(
              ng-if="!!proj.link"
              ng-href="{{proj.link}}" 
              target="_blank"
            )
              img.link(src='/assets/links/link.png')
            a(
              ng-if="!!proj.repo"
              ng-href="{{proj.repo}}" 
              target="_blank"
            )
              img.repo(src='/assets/links/github.png')
            a(
              ng-if="!!proj.play"
              ng-href="{{proj.play}}" 
              target="_blank"
            )
              img.play(src='/assets/links/play.png')
        .project-details(layout="row")
          .project-description(layout="column")
            span(ng-repeat="description in proj.description") {{description}}
          .flex
          .project-image(ng-show="menu.isScreenBig()")
            img.project(ng-src="{{proj.img}}")
        .project-tag-divider
          md-divider
        .project-tags(layout="row")
          .project-tag(ng-repeat="tag in proj.tags")
            img.tag(ng-src="{{project.getTagImage(tag)}}")
            md-tooltip(md-direction="top") {{project.getTagName(tag)}}
