section#projects(layout="column")
  md-subheader.projects-introduction-header
    span.md-display-1 Projects
  .projects-list(layout="column" layout-padding="")
    
    md-card(layout="column")
      .tags-filter.md-padding.autocomplete(layout="column")
        md-chips(
          ng-model="project.selectedTags"
          md-autocomplete-snap="width"
          md-transform-chip="project.transformChip($chip)"
          md-require-match="true"
          filter-selected="true"
          placeholder="Filter by tags"
          secondary-placeholder="Search a tag"
        )
          md-autocomplete(
            md-menu-class="tag-autocomplete"
            md-search-text="project.searchText"
            md-items="tag in project.querySearch()"
            md-item-text="tag.title"
            placeholder="Filter by tags"
            secondary-placeholder="Search a tag"
          )
            .tag-chip(layout="row" layout-align="start center")
              img.tag-chip(ng-src="{{tag.img}}")
              span.tag(
                md-highlight-text="project.searchText"
                md-highlight-flags="i"
              ) {{tag.title}}
                
          md-chip-template
            .tag-chip(layout="row" layout-align="start center")
              img.tag(ng-src="{{$chip.img}}")
              span.tag {{$chip.title}}
        
        .tags-check
          md-checkbox(
            ng-model='project.tagsVisible'
          ) Show Tags
        
        md-list(ng-if="project.tagsVisible")
          .tags-filtered
            md-list-item.md-2-line.tag-item(
              ng-repeat="tag in project.tags"
              ng-if="project.isTagSelected(tag)"
            )
              .tag-chip(layout="row" layout-align="start center")
                img.tag(ng-src="{{tag.img}}")
                span.tag {{tag.title}}
                
            md-list-item.md-2-line.tag-item.selected(
              ng-repeat="tag in project.selectedTags"
            )
              .tag-chip(layout="row" layout-align="start center")
                img.tag(ng-src="{{tag.img}}")
                span.tag {{tag.title}}
    
    md-card(layout="column" ng-repeat="proj in project.getProjects()")
      .project-content(layout="column")
        span.md-headline.project-title {{proj.title}}
        .project-details(layout="row")
          .project-description(layout="column")
            span(ng-repeat="description in proj.description") {{description}}
          .flex
          .project-image
            img.project(ng-src="{{proj.img}}")
        .project-tag-divider
          md-divider
        .project-tags(layout="row")
          .project-tag(ng-repeat="tag in proj.tags")
            img.tag(ng-src="{{project.getTagImage(tag)}}")
            md-tooltip(md-direction="top") {{project.getTagName(tag)}}
